.App {
  text-align: center;
}

.button {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  background-color: #141285;
  color: white;
  border: none;
  border-radius: 5px;
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.inputField {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.productItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}